<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>首页</title>
  <script type="text/javascript" src="../script/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
  <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<style>
.el-carousel__item{
  width: 70%;
  margin-left: -10%;
  background: #ccc;
  border-radius: 20px;
}
  .el-carousel__item img {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    border-radius: 20px;
    margin: 0;
    height: 120px;
    width: 100%;
  }
  .tables{
    background: #fff;
    color: #4889F5;
  }
  .xians{
    display: none;
  }
  .guanbi{
    width: 100%;
    overflow-x:hidden;
  }
</style>
<body>
  <div class="home" id="app"  v-cloak>
      <div class="tables">
        <div @click="table(2)" :class="mains==2?'sdiv':''">女生</div>
        <div @click="table(1)" :class="mains==1?'sdiv':''">男生</div>
        <img src="../image/shousuon.png" @click="Navigationn()">
      </div>
      <!-- <el-carousel :interval="2000" type="card" height="120px">
        <el-carousel-item v-for="(item,index) in Gender2" :key="item">
          <img :src="item.image"  class="medium" alt=""  @click="details(item.id)">
        </el-carousel-item>
      </el-carousel> -->
      <div class="guanbi">
      <div class="swiper-containers" v-show="!xianss">
          <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(item,index) in Gender2s" :key="item">
                <img :src="item.image" class="medium"  alt=""  @click="details(item.id)">
              </div>
          </div>
      </div>
      <div class="swiper-container" v-show="!xians">
          <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(item,index) in Gender2" :key="item">
                <img :src="item.image" class="medium"  alt=""  @click="details(item.id)">
              </div>
          </div>
      </div>
      </div>
      <div class="Navigation">
        <div  @click='Ranking("排行","",0,mains,"","")'>
          <img src="../image/paizi.png" />
          <div>排行</div>
        </div>
        <div @click='homess()'>
          <img src="../image/nav_icon_7.jpg" />
          <div>会员</div>
        </div>
        <div @click='Ranking("免费","",0,mains,"",1)'>
          <img src="../image/nav_icon_2.png" />
          <div>免费</div>
        </div>
        <div @click='Ranking("完本","",0,mains,1,"")'>
          <img src="../image/nav_icon_3.png"/>
          <div>完本</div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="week">
        <div class="week_top"  @click='gengd("主编推荐",1,mains,"pai2 desc","")'>
          <div>主编推荐</div>
          <div>更多</div>
        </div>
        <div class="week_bot">
          <div  v-for='(items,index) in homen' :key='index'  @click="details(items.id)">
            <img  :src="items.image"/>
            <div>{{items.title}}</div>
          </div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="week">
        <div class="week_top"  @click='gengd("新书推荐",2,mains,"pai3 desc","")'>
          <div>新书推荐</div>
          <div>更多</div>
        </div>
        <div class="week_bot">
          <div v-for='(items,index) in homens' :key='index'  @click="details(items.id)">
            <img :src="items.image"/>
            <div>{{items.title}}</div>
          </div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="jingp">
        <div class="week_top"  @click='gengd("精品推荐",3,mains,"pai4 desc","")'>
          <div>精品推荐</div>
          <div>更多</div>
        </div>
        <div class="jing_bot"   v-for='(items,index) in Arrivals2' :key='index'  @click="details(items.id)">
          <img :src="items.image">
          <div>
            <div>{{items.title}}</div>
            <div v-html='items.desc'></div>
            <div>{{items.tstype}}</div>
          </div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="week">
        <div class="week_top"  @click="homes5()">
          <div>猜你喜欢</div>
          <div>换一批</div>
        </div>
        <div class="week_bot">
          <div  v-for='(items,index) in Arrivals55' :key='index'  @click="details(items.id)">
            <img  :src="items.image"/>
            <div>{{items.title}}</div>
          </div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="weeks">
        <div class="week_top"  @click='gengd("限时免费",4,mains,"pai4 desc","")'>
          <div>限时免费</div>
          <div>更多</div>
        </div>
        <div class="week_bots">
          <div   v-for='(items,index) in Arrivals3' :key='index'  @click="details(items.id)">
            <img  :src="items.image"/>
            <div>{{items.title}}</div>
          </div>
        </div>
      </div>
      <div class="heightss"></div>
      <div class="week">
        <div class="week_top"  @click='gengd("畅销书单",5,mains,"pai6 desc","")'>
          <div>畅销书单</div>
          <div>更多</div>
        </div>
        <div class="chang">
          <div  v-for='(items,index) in tjchuan55s' :key='index'  @click="details(items.id)">
            <span>【{{items.tstype}}】</span>
            <span>{{items.title}}</span>
          </div>
        </div>
      </div>
  </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/swiper.min.js"></script>
<script type="text/javascript" src="../script/index.js"></script>
<script type="text/javascript" src="../script/sha1.js"></script>
<script type="text/javascript">
  apiready = function () {
    app = new Vue({
      el: '#app',
      data: {
          mains:2,
          nns:0,//换一批
          xians:false,
          xianss:false,
          Gender2:[],//轮播图
          Gender2s:[],//轮播图
          homen:[],//主编推荐
          mySwiper:"",
          homens:[],//新书推荐
          Arrivals2:[],//精品推荐
          Arrivals55:[],//猜你喜欢
          Arrivals3:[],//限时免费
          tjchuan55s:[],//畅销书单
          chai:"",
          num:0,

      },
      created: function () {
          that = this
      },
      mounted: function () {
        if($api.getStorage("mains")!=undefined){
            that.table($api.getStorage("mains"))
            that.mains=$api.getStorage("mains")
        }
        setTimeout(function(){
          that.xianss=true;
        },300)

        api.addEventListener({
            name: 'keyback'
        }, function(ret, err) {

      });
        api.setStatusBarStyle({
            style: 'dark'
        });
        console.log(1111111111111111)
        console.log(JSON.stringify(api.pageParam.lon))
        console.log(1111111111111111)
          that.lun('female');//轮播图
          that.luns('male');//轮播图
          that.homes(1,'female');//主编推荐
          that.homes1(2,'female');//新书推荐
          that.homes2(3,'female');//精品推荐
          that.homes5('female');//猜你喜欢
          that.homes44('female');//限时免费
          that.tjchuan5ns("female");//畅销书单

          api.addEventListener({
            name:'noticeclicked'
        },function(ret,err){
          console.log("ss")
            // alert(ret.value+"ss");
        });
          var ajpush = api.require('ajpush');
          ajpush.setListener(
              function(ret) {
                  // api.notification({
                  //     notify: {
                  //     title: '通知标题',
                  //         content: '通知内容'
                  //     }
                  // });
                console.log(JSON.stringify(ret),11111111)
                   var id = ret.id;
                   var title = ret.title!="";
                   var content = ret.content;
                   var extra = ret.extra;
              }
          );
      },
      methods: {
        // 点击跳转详情页
  			details(ids){
          api.openWin({
            name: 'details',
            url: 'details.html',
            pageParam: {
                id: ids,
                lon: api.pageParam.lon==undefined?"":api.pageParam.lon.openid,
            }
          });
  			},
        Navigationn(){
          api.openWin({
            name: 'Navigationns',
            url: 'Navigationns_frm.html',
            pageParam: {
                lon: api.pageParam.lon==undefined?"":api.pageParam.lon.openid,
            }
          });
          console.log(1)
        },
        homess(ids){
          api.openWin({
            name: 'homes',
            url: 'homes.html',
            pageParam: {
                lon: $api.getStorage("key"),
            }
          });
  			},
        Ranking(name,tj,start,gender,xstype,isfree){
          api.openWin({
            name: 'Navigation',
            url: 'Navigation.html',
            pageParam: {
              name:name,
              tj:tj,
              start: start,
              gender:gender,
              xstype:xstype,
              isfree:isfree,
              lon: api.pageParam.lon==undefined?"":api.pageParam.lon.openid,
            }
          });
        },
        gengd(name,tj,gender,order,mianf){
          api.openWin({
            name: 'Navigations',
            url: './Navigations.html',
            pageParam: {
              name:name,
              tj:tj,
              gender:gender,
              order:order,
              mianf:mianf,
              lon: api.pageParam.lon==undefined?"":api.pageParam.lon.openid,
            }
          });
        },
          table:function(index){
            that.mains =index
            var key ="mains";
            var user =index
            $api.setStorage(key,user);
            api.setPrefs({
                key: 'mains',
                value: index
            });
            if(index==1){
              that.xians=true;
              that.xianss=false;
              that.homes(1,'male');//主编推荐
              that.homes1(2,'male');//新书推荐
              that.homes2(3,'male');//精品推荐
              that.homes5('male');//猜你喜欢
              that.homes44('male');//限时免费
              that.tjchuan5ns("male");//畅销书单
            }else{
              that.xianss=true;
              that.xians=false;
              that.homes(1,'female');//主编推荐
              that.homes1(2,'female');//新书推荐
              that.homes2(3,'female');//精品推荐
              that.homes5('female');//猜你喜欢
              that.homes44('female');//限时免费
              that.tjchuan5ns("female");//畅销书单
            }
          },
          // 限时免费
          tjchuan5ns(females){
            $api.post(
              $config.Editor, {
                 tj:5,
                 limit:6,
                 gender: females,
                 xstype:"s",
                  order:"pai6 desc"
              },
              function(res) {
                  //console.log(JSON.stringify(res),"畅销书单")
                  that.tjchuan55s=res.data.data;
              }
            )
          },

          // 限时免费
          homes44(females){
            $api.post(
              $config.Editor, {
                 tj:4,
                 limit:6,
                 gender: females,
                 isfree:1
              },
              function(res) {
                  //console.log(JSON.stringify(res),"新书推荐")
                  that.Arrivals3=res.data.data;
              }
            )
          },
          // 猜你喜欢
          homes5(females){
            that.Arrivals55=[]
    				that.nns++
    				if(that.nns==3){
    					that.nns=0
    				}
            if(females!=undefined){
              that.chai=females;
            }
            console.log(that.chai)
            $api.post(
              $config.Editor, {
                tj:6,
                gender: that.chai,
                limit:4,
                cishu:that.nns,
                start:0,
                ishuan:1,
              },
              function(res) {
                  //console.log(JSON.stringify(res),"猜你喜欢")
                  that.Arrivals55=res.data.data;
              }
            )
          },
          // 精品推荐
          homes2(index,females){
            $api.post(
              $config.Editor, {
                 tj:index,
                 gender: females,
                 limit:4,
                 order:"pai4 desc",
              },
              function(res) {
                  //console.log(JSON.stringify(res),"新书推荐")
                  that.Arrivals2=res.data.data;
              }
            )
          },
          // 主编推荐
          homes1(index,females){
            $api.post(
              $config.Editor, {
                  tj:index,
                  gender: females,
                  limit:4,
                  order:"pai3 desc",
              },
              function(res) {
                  //console.log(JSON.stringify(res),"新书推荐")
                  that.homens=res.data.data;
              }
            )
          },
          // 主编推荐
          homes(index,females){
            console.log(index)
            $api.post(
              $config.Editor, {
                 tj:index,
                 gender: females,
                 limit:4,
                 order:"pai2 desc",
              },
              function(res) {
                  //console.log(JSON.stringify(res),"主编推荐")
                  that.homen=res.data.data;
              }
            )
          },
          // 轮播图
          lun(females){
            var femass="";
            if(females=="male"){
              femass=2
            }else{
              femass=3
            }
            $api.post(
              $config.homelun, {
                 tj:6,
                 cid:femass,
                 limit:4,
              },
              function(res) {
                  //console.log(JSON.stringify(res))
                  that.mySwiper="";
                  that.Gender2=res.data.data;
                  that.$nextTick(function () {
                    var swiper = new Swiper('.swiper-container',{
                			autoplay: true,
                			speed: 1000,
                			loop: true,
                			centeredSlides: true,
                      spaceBetween: 20,
                		});
                  });
              }
            )
          },
          luns(females){
            var femass="";
            if(females=="male"){
              femass=2
            }else{
              femass=3
            }
            $api.post(
              $config.homelun, {
                 tj:6,
                 cid:femass,
                 limit:4,
              },
              function(res) {
                  //console.log(JSON.stringify(res))
                  that.mySwiper="";
                  that.Gender2s=res.data.data;
                  that.$nextTick(function () {
                    var swiper = new Swiper('.swiper-containers',{
                			autoplay: true,
                			speed: 1000,
                			loop: true,
                			centeredSlides: true,
                      spaceBetween: 20,
                		});
                  });
              }
            )
          },
      }
    })
  };

</script>

</html>
